<!-- <h1 class="animated fadeIn">{{heroe.nombre | uppercase }}<small> ({{heroe.aparicion | date:'y'}})</small></h1>
<hr> -->

<!-- <div class="progress row" *ngIf="allPercentage>0"> -->
<div class='container2' *ngIf="loading">

    <div class="loader">
        <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="allPercentage " aria-valuemin="0" aria-valuemax="100" style="width: 75%">{{allPercentage }}%</div> -->
        Loading...
    </div>
</div>


<div class="container div-body" *ngIf='!loading'>

    <app-select-image (fileAdded)="onAddedFile($event)" (fileDeleted)="onDeletedFile($event)" (selectedImageEmitter)="selectedImage($event)"></app-select-image>

    <div class="row" *ngIf='allPercentage==0'>

        <form [formGroup]="myForm" (ngSubmit)="onSave()">


            <hr>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" formControlName="name" placeholder="Write a name">
                <!-- <small id="emailHelp" class="form-text text-muted">E.g.:  kg,gr,ml,lt</small> -->
            </div>
            <div class="form-group">
                <label for="Name">Provider Name</label>
                <input type="text" class="form-control" id="Name" formControlName="provider" placeholder="Write a provider name">
                <!-- <small id="emailHelp" class="form-text text-muted">E.g.:  kg,gr,ml,lt</small> -->
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description" placeholder="Write a Description">
                <!-- <small id="emailHelp" class="form-text text-muted">E.g.:  Kilogramo</small> -->
            </div>
            <div class="form-group">
                <label for="buyPrice">Buy Price</label>
                <input type="number" class="form-control" id="buyPrice" formControlName="buyPrice" placeholder="Type a Buy Price">
            </div>
            <div class="form-group">
                <label for="buyPrice">Sell Price</label>
                <input type="number" class="form-control" id="buyPrice" formControlName="sellPrice" placeholder="Type a Sell Price">
            </div>

            <div class="form-group">
                <label for="dob-input">Expiration Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dob" formControlName="expirationDate" ngbDatepicker #dob="ngbDatepicker">
                    <button class="input-group-addon" (click)="dob.toggle()" type="button">
                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                      </button>
                </div>
            </div>

            <div class="form-group">
                <label for="dob-input">Product Type</label>
                <select class="custom-select" formControlName="productTypeId">
                            <option [value]="productType.productTypeId"  *ngFor="let productType of productTypes; let i=index" >{{productType.name +" "+productType.description}}</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="dob-input">Unit Type</label>
                <select class="custom-select" formControlName="unitTypeId">
                            <option [value]="unitType.unitTypeId"  *ngFor="let unitType of unitTypes; let i=index" >{{unitType.symbol +" "+unitType.description}}</option>
                 </select>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </form>


    </div>
    <!-- <div class="row" *ngIf='allPercentage>0'> -->
</div>