<div class="container" *ngIf='loading'>
    <div class="  row justify-content-center" height="100%">
        <div class="loader"></div>
    </div>

</div>


<div class="container" *ngIf='!loading'>
    <div class="row">
        <!-- {{myForm.value | json}} -->
        <hr>
    </div>
    <div class="row">

        <div class="col-md-2 align-content-center">

            <form [formGroup]='myForm' (ngSubmit)='onSave()'>
                <div class="form-group">
                    <label>Note Type</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="entrada" name="noteType" value='entry' class="custom-control-input" checked formControlName='noteType'>
                        <label class="custom-control-label" for="entrada">Entry Stocks</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="salida" name="noteType" value='removal' class="custom-control-input" formControlName='noteType'>
                        <label class="custom-control-label" for="salida">Removal of Stock</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Received By</label>
                    <input type='text' class='form-control' placeholder="" formControlName='receivedBy'>
                </div>
                <div class="form-group">
                    <label>Delivered To</label>
                    <input type='text' class='form-control' placeholder="" formControlName='deliveredTo'>
                </div>
                <div class="form-group">
                    <label>Observation</label>
                    <input type='text' class='form-control' placeholder="" formControlName='observation'>
                </div>

                <div class="form-group">
                    <label for="dob-input">Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dob" formControlName="date" ngbDatepicker #dob="ngbDatepicker">
                        <button class="input-group-addon" (click)="dob.toggle()" type="button">
                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                              </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <app-note-detail (productDetailAdded)='onAddProductDetail($event)' (productDetailDeleted)='onDeleteProductDetail($event)'></app-note-detail>
        </div>


    </div>


    <div class="row justify-content-end ">
        <div class="col-1  ">
            <a class="btn btn-primary form-control" (click)="onSave()"> Save</a>
        </div>
    </div>
</div>