<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="product.image "  onError="this.src='assets/img/noimage.png'" alt="Card image cap">
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="product.images[1].url | noimage" onError="this.src='assets/img/noimage.png'" alt="Card image cap">
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="product.images[2].url | noimage " onError="this.src='assets/img/noimage.png'" alt="Card image cap">
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="product.images[3].url | noimage "onError="this.src='assets/img/noimage.png'"  alt="Card image cap">
    </div>

  </div>
  <div class="card" style="width: 18rem;">

    <!-- <img class="card-img-top" [src]="product.image | noimage" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Name :{{product.name}}</h5>
      <p class="card-text">Description : {{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Provider: {{product.provider}}</li>
      <li class="list-group-item">Sell Price: {{product.sellPrice}}</li>
      <li class="list-group-item">Buy Price: {{product.buyPrice}}</li>
    </ul>
    <div class="card-footer bg-transparent border-success">Expiration Date {{product.expirationDate | date }}</div>
  </div>
</div>