.add-button {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 100% 100% 100% 100%;
    animation: rotate;
    animation-duration: 1s;
    position: absolute;
    /* animation-iteration-count: infinite; */
}

.delete-button {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    animation-duration: 0.5s;
    position: absolute;
    /* animation-iteration-count: infinite; */
}

@keyframes rotate {
    0% {
        /* background-color: black; */
        transform: rotate(0deg)
    }
    100% {
        /* background-color: white; */
        transform: rotate(180deg)
    }
}

.add-button:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.delete-button:hover {
    transform: rotateY(180deg);
}

.selected {
    padding: 20px;
    box-shadow: 0 0 10px 5px #007bff;
    /* outline-color: 5px solid black; */
    /* border-style: dashed;
    border-color: #007bff;
    border-width: 2px; */
    /* padding: 10px; */
    /* transition: background-position 2s; */
    animation: border-dance 2s infinite ease-in-out;
}

@keyframes border-dance {
    0% {
        box-shadow: 0 0 10px 1px #71b5fd;
        /* border-width: 1px; */
    }
    50% {
        box-shadow: 0 0 10px 5px #007bff;
        /* border-width: 3px; */
    }
    100% {
        box-shadow: 0 0 10px 1px #71b5fd;
        /* border-width: 1px; */
    }
}